:root {
  --color-black:                          #181818;
  --color-white:                          #ffffff;
  --color-orange:                         #FF8159;
  --color-orange-hover:                   #FF6635;
  --color-grey:                           #FBFBFB;
  --color-grey-100:                       #DCDCDC;
  --color-grey-200:                       #474747;
  --color-error:                          #ff6347;
  --color-success:                        #73a50f;
  --font-body:                            'Roboto', sans-serif;
  --font-body-medium:                     'Roboto-Medium', sans-serif;
  --font-body-bold:                       'Roboto-Bold', sans-serif;
  --font-title:                           'ArkibalDisplay', sans-serif;
  --font-title-heavy:                     'ArkibalDisplay-Heavy', sans-serif;
  --font-accent:                          'Sacramento', sans-serif;
}