:root {
  --color-black:                          #181818;
  --color-white:                          #ffffff;
  --color-orange:                         #FF8159;
  --color-orange-hover:                   #FF6635;
  --color-grey:                           #FBFBFB;
  --color-grey-100:                       #DCDCDC;
  --color-grey-200:                       #474747;
  --font-body:                            'Roboto';
  --font-body-medium:                     'Roboto-Medium';
  --font-body-bold:                       'Roboto-Bold';
  --font-title:                           'ArkibalDisplay';
  --font-title-heavy:                     'ArkibalDisplay-Heavy';
  --font-accent:                          'Sacramento';
}