.hero{
	&.__inner{
		.hero{
			&-content{
				//height: 100vh;
				min-height: 800px;
				padding-bottom: 0;
				padding-top: 208px;
				align-items: flex-start;
				justify-content: flex-start;
					&.__default{
						position: relative;
						padding-bottom: 155px;
							.hero-content-box{
								padding-left: 100px;
									@include d(1200){
										padding-left: 50px;
									}
									@include d(991){
										padding-left: 0;
										padding-top: 50px;
									}
							}
							ul{
								padding: 15px 0;
								margin: 5px 0 30px;
							}
							@include d(991){
								padding-right: 0;
								align-items: center;
							}
					}
					.list{
						max-width: 450px;
						margin: 38px 0;
						padding-left: 4px;
							ul{
								margin: 0;
								padding: 0;
							}
							@include d(991){
								max-width: 100%;
							}
					}
					.btn{
						margin-top: 45px;
						transition: opacity .6s ease, transform .6s ease;
							@include d(480){
								margin-top: 20px;
							}
					}
					.h{
						&-2{
							margin-bottom: 40px;
						}
						&-4{
							margin-top: 20px;
						}
					}
					.countdown{
						position: absolute;
						z-index: 1;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						padding-left: 30px;
						pointer-events: none;
					}
					.list-item-title{
						margin: 0;
					}
					@include max-height-min-width(800, 991) {
						padding-top: 208px;
					}
					@include d(1200){
						min-height: 900px;
					}
					@include d(991){
						min-height: 0;
						height: auto;
						padding-top: 0;
						padding-bottom: 40px;
					}
			}
		}
		.row{
			&-column{
				&:nth-child(1){
					max-width: 50%;
						@include d(991){
							max-width: 100%;
						}
				}
			}
		}
		.h-4{
			transition: opacity .4s ease, transform .4s ease;
		}
	}
	&.__final{
		.section-banner{
			img{
				object-position: 85% center;
					@include d(1300){
						object-position: 70% center;
					}
					@include d(991){
						object-position: center;
					}
			}
		}
	}
}