.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 54px 0 20px;
	z-index: 2;
	transition: opacity .6s ease;
		&-logo{
			display: inline-block;
			width: 198px;
				img{
					width: 100%;
				}
		}
		@include d(575){
			padding: 30px 0 10px;
		}
}