.social{
	display: flex;
	align-items: center;
		&-link{
			display: inline-block;
			position: relative;
				&:not(:last-child){
					margin-right: 20px;
				}
				&-icon{
					width: 16px;
					height: 16px;
					object-fit: contain;
					object-position: center;
					transition: opacity .4s ease;
						&.__active{
							position: absolute;
							top: 0;
							left: 0;
							opacity: 0;
						}
				}
				@include hover(991){
					&:hover{
						.social-link-icon{
							opacity: 0;
								&.__active{
									opacity: 1;
								}
						}
					}
				}
		}
}